<!DOCTYPE html>
<html>
    <head>
        <title>EsriJS Flux Demo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://js.arcgis.com/4.0/esri/css/main.css">
        <meta http-equiv='content-type' content='text/html; charset=utf-8' />
        <meta name='viewport' content='initial-scale=1.0 maximum-scale=1.0'>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div id="app">{{ html|safe }}</div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/setup.js"></script>
        <script src="//js.arcgis.com/4.0/"></script>
    </body>
</html>
